.container .text{
    background-color: yellow;
    color: red;
    text-align: center;
}

#parent {
    color: red;
  }
  
  .child {
    color: blue;
  }

  .alert {
    color: red;
  }
  
  .warning {
    color: yellow;
  }